/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content.content-shifted {
    margin-left: 250px; /* Adjust the margin for the open sidebar */
  }
  .sidebar a.initial-letter.active {
  background-color: #555; /* Apply the same active link style as the hover effect */
}